<div class='bg-gradient-to-r from-indigo-500 w-screen flex justify-start items-center flex-col'>
  <div class='flex flex-col h-full w-full p-5 bg-white'>
    <h1 class='text-3xl mb-4 font-serif'>Create Incomes</h1>
    <%= simple_form_for @income do |form| %>
      <p>Income will be created for every month of the year</p>
      <div class='flex flex-row items-center w-full rounded-lg shadow-md p-5'>
        <div class='mr-4 rounded-lg border-indigo-500 text-indigo-500 w-1/7'><%= select_year Date.today.year %></div>     
        <div class='mr-4 rounded-lg border-indigo-500 text-indigo-500 w-1/7'><%= select_month Date.today.month %></div>
        <%= form.button :submit, "Create", class: 'bg-indigo-500 rounded-lg p-2 text-white w-1/6 h-fit' %>
      </div>
    <% end %>
  </div>
</div>