<div class='w-4/5 flex flex-col bg-white p-5'>
  <%= render "form", expense: Expense.new %>
  <table class='w-full bg-white rounded_lg shadow-md'>   
    <thead class='bg-gray-100'>   
      <tr>      
        <td class='text-left p-2 text-stone-500 font-bold'>Number</td>   
        <td class='text-left p-2 text-stone-500 font-bold'>Name</td>   
        <td class='text-left p-2 text-stone-500 font-bold'>Amount</td>      
        <td class='text-left p-2 text-stone-500 font-bold'></td>      
      </tr>   
    </thead>   
    <tbody id='expenses'>    
      <%= render @expense %>
    </tbody>
  </table> 
</div>