<div class="container">        
        <h3>Add Expense</h3>   
       
            <div>   
              <label>Name</label>   
              <%= @expense.name %>   
            </div>   
  
            <div>   
              <label>Amount</label>   
              <%= @expense.amount %>   
            </div>   
            
            <div>   
              <label>File Upload</label>   
              <%= @expense.file_upload %>   
            </div>   
         
      <div>   
        <%= link_to 'Back', { controller: 'expenses', action: 'index'} %>   
      </div>   
</div>  